include HISTORY.rst
include LICENSE
include README.rst
include lemon/filebrowser/LICENSE
include setup.py
recursive-include lemon/dashboard/locale *
recursive-include lemon/dashboard/templates *
recursive-include lemon/extradmin/locale *
recursive-include lemon/extradmin/static *
recursive-include lemon/extradmin/templates *
recursive-include lemon/filebrowser/locale *
recursive-include lemon/filebrowser/static *
recursive-include lemon/filebrowser/templates *
recursive-include lemon/metatags/locale *
recursive-include lemon/pages/locale *
recursive-include lemon/pages/templates *
recursive-include lemon/publications/locale *
recursive-include lemon/robots/fixtures *
recursive-include lemon/robots/locale *
recursive-include lemon/robots/templates *
recursive-include lemon/sitemaps/fixtures *
recursive-include lemon/sitemaps/locale *
recursive-include lemon/sitemaps/templates *
