.changelist-search
  float right
  width 50%
  text-align right
  form
    line-height 35px
  input
    vertical-align baseline
  .searchbar
    width 200px
  .submit
    margin 0
    padding 4px 12px
