@import "mixins/helpers"
@import "mixins/variables"

.changelist-wrapper
  float left
  width 100%

.changelist
  margin 10px 30px
  &.filtered
    margin-right 245px

.changelist-actions
  float left
  width 45%
  height 35px
  line-height 35px
  button
    line-height normal
    padding 4px 12px
  select, button
    vertical-align baseline
  select
    width 170px
    height 25px

.changelist-dates
  display block
  border 1px solid $border-color
  border-bottom none
  padding 10px
  li
    display block
    float left
    padding 0 10px
    font-size 15px
  a
    text-decoration none
    text-shadow #fff 0 1px 1px
    &:hover
      text-decoration underline

.changelist-main
  padding-left 3px
  padding-right 4px
  input
    vertical-align baseline
  table
    width 100%
    border-bottom 1px solid $border-color
    line-height 15px
  thead
    th
      font-weight bold
      text-align left
      text-shadow #fff 0 1px 1px
      padding 11px 7px 4px
      border-left 1px solid $background-color
      border-bottom 1px solid $border-color
      &.sortable
        padding-left 21px
        background url('../images/sortable.png') 7px 12px no-repeat
      &.ascending
        background url('../images/asc.png') 7px 9px no-repeat
      &.descending
        background url('../images/desc.png') 7px 15px no-repeat
      &.narrow
        width 1%
      a
        text-decoration none
        &:hover
          text-decoration underline
  tbody
    th, td
      text-align left
      line-height 15px
      padding 7px 7px 7px
      background #fff
      border-left 1px solid $changelist-border-color
      border-bottom 1px solid $changelist-border-color
      &.bool
        text-align center
      &.first
        border-left 1px solid $border-color
      &.last
        border-right 1px solid $border-color
    tr.row2
      th, td
        background $changelist-background-color
    tr.last
      th, td
        border-bottom none
  ul.errorlist
    display block
    font-weight bold
    font-size 10px
    color #a00

.changelist-filters
  float left
  width 200px
  margin 10px 30px 10px -230px
  h2
    line-height 35px
    font-size 16px
    text-shadow #fff 0 1px 1px
  dl
    margin 0 5px 0 30px
    text-shadow #fff 0 1px 1px
  dt
    font-weight bold
    margin 15px 0 5px
  dd
    padding-left 15px
    margin-bottom 2px
    &.active
      background url('../images/filter-selected-item.png') 6px 50% no-repeat
      a
        color #d88900
  a
    text-decoration none
    &:hover
      text-decoration underline

.changelist-filters-body
  padding-bottom 15px

.changelist-footer
  height 28px

.changelist-pager
  float left
  width 40%
  height 28px
  div
    padding-left 4px
    padding-top 3px
  a, span
    display block
    float left
    border 1px solid #8a9ea7
    background url('../images/pager-bg.png') bottom left repeat-x
    line-height 18px
    padding 1px 5px 0
    margin-right -1px
    text-decoration none
  a.active, span
    margin-left 1px
    border 1px solid $background-color
    border-left none
    background $background-color
  span.showall
    border none
    padding-top 0

.changelist-links
  float right
  width: 40%
  height 28px
  line-height 27px
  text-align right
  a
    margin-right 10px
    font-weight bold
