@import "mixins/helpers"
@import "mixins/variables"

.b-admin-form-table
  width 100%

  .add-row td
    padding 0 15px

  .last-related, .add-row
    td
      border-bottom none

.b-admin-form-table-header-cell
  gradient $background-color #fff
  border-bottom 1px solid $border-color
  font-weight bold
  text-shadow #fff 0 1px 1px
  text-align left
  padding 10px 15px

  &.first
    border-top-left-radius 3px

  &.last
    border-top-right-radius 3px

.b-admin-form-table-body-cell
  border-bottom 1px solid #becacf
  vertical-align top
  padding 10px 15px

  input[type=text], input[type=password]
    width auto

  .errorlist
    display block
    font-weight bold
    font-size 10px
    margin-left 0
    padding-top 2px
    padding-left 10px
    color #a00

.b-admin-form-fieldset-group
  background $background-color
  -webkit-box-shadow 0 1px 2px #e5e5e5, #fff 0 0px 3px inset
  border 1px solid $border-color
  border-radius 3px
  margin-bottom 20px

.b-admin-form-fieldset-group-title
  gradient $background-color #fff
  border-top-radius 3px
  border-bottom 1px solid $border-color
  padding 0 15px
  font-size 16px
  line-height 35px
  font-weight normal
  text-shadow #fff 0 1px 1px

.b-admin-form-add-fieldset-group
  background $background-color
  -webkit-box-shadow 0 1px 2px #e5e5e5, #fff 0 0px 3px inset
  border 1px solid $border-color
  border-radius 3px
  margin-bottom 20px
  font-size 14px
  line-height 35px
  padding 0 15px
  a
    color $text-color
    text-shadow #fff 0 1px 1px
    text-decoration underline
    &:hover
      text-decoration none

.b-admin-form-fieldset-description
  padding 10px 30px
  border-bottom 1px solid #becacf
  font-style italic
  text-shadow #fff 0 1px 1px

.b-admin-form-fieldset-title
  width 100%
  border-top 1px solid #becacf
  border-bottom 1px solid #becacf
  background $background-lighter-color

  .title
    font-size 14px
    font-weight normal
    line-height 35px
    text-shadow #fff 0 1px 1px
    padding 0 15px

.b-admin-form-field
  padding 20px 30px
  border-bottom 1px solid #becacf

  label
    font-weight normal
    color #486A77
    text-shadow #fff 0 1px 1px
    display block
    float left
    padding-top 5px
    width 160px

    &.required
      font-weight bold

  .clearable-file-input
    label
      display inline
      float none
      padding none

    input
      vertical-align: baseline

  input[type=text], input[type=password]
    width 400px

  input.vDateField, input.vTimeField
    width auto

  textarea
    &.vLargeTextField
      width 400px
      height 200px

    &.vSmallTextField
      width 400px
      height 40px

  p, ul
    margin-left 165px

  input, select, textarea
    margin-left 5px

  ul.errorlist, p.help
    display block
    font-weight bold
    font-size 10px
    padding-top 5px
    color #a00

  ul.errorlist
    list-style-type none

  p.help
    color #007042

    a
      color #007042

  img
    vertical-align middle

.b-admin-form-last-field
  border-bottom none

.empty-form
  display none

.add-another
  text-decoration none

.b-admin-form
  margin 10px 30px 0
  padding 0

.b-admin-form-tabs
  &.ui-widget-content
    background none
    border none

.b-admin-form-tabs-nav
  display none

  &.ui-tabs-nav
    display block
    gradient $background-color #fff
    box-shadow 0 1px 2px #e5e5e5
    border 1px solid $border-color
    border-radius 3px
    margin-bottom 20px
    padding 8px 20px

    .item
      font-size 14px
      font-weight: normal
      margin -1px 8px 0 0
      color $text-color
      background none
      border none

      &.ui-state-hover
        border none
        border-radius 3px
        background darken($background-color, 5%)

        .item-link
          color $text-color

      &.ui-state-active
        background lighten($text-color, 20%)
        border none
        box-shadow 0 1px 1px #fff
        border-radius 3px
        margin-top -1px
        padding-bottom 0

        .item-link
          color #fff
          text-shadow darken($text-color, 10%) 0 1px 1px

    .item-link
      color $text-color
      padding 0 10px
      line-height 28px
      text-shadow #fff 0 1px 1px

.b-admin-form-tabs-panel.ui-tabs-panel
  padding 0

a.related-lookup
  text-decoration none

p.datetime
  position relative

.add-row
  font-size 14px
  line-height 35px
  padding 0 15px
  a
    color $text-color
    text-shadow #fff 0 1px 1px
    text-decoration underline
    &:hover
      text-decoration none

a.inline-deletelink
  display none

.permissions_select_multiple
  margin-left 165px
  margin-bottom -20px
  span
    font-weight bold
    text-shadow #fff 0 1px 1px
  td
    width 33%
    padding 5px 30px 25px 0
  label
    width auto
    white-space nowrap
    float none
    input
      vertical-align baseline
      margin-left 0
