.dashboard-admin-apps-instance
  ul
    margin 0
    padding 0
    list-style-type none
  .app
    padding 5px
    border-bottom 1px solid #ccd5d9
    &.last
      border-bottom none
  .app-name
    display block
    padding 5px 10px 5px
    font-size 16px
  .model
    padding 5px 10px 5px 20px
  .links
    display block
    float right
  .link
    display block
    float left
    margin-left 10px
