.dashboard
  padding 0 30px

.dashboard-title
  #main h1&
    margin 20px 0 0

.dashboard-column-list
  list-style-type none
  margin-top -10px
  margin-left 0

.dashboard-widget-instance-container
  margin 20px 0
  color #486A77
  border 1px solid #98ABB2
  background #E5EAEC url('../images/dashboard-widget-bg.png') repeat-x
  -webkit-border-top-left-radius 2px
  -webkit-border-top-right-radius 2px
  -moz-border-radius-topleft 2px
  -moz-border-radius-toplright 2px
  border-top-left-radius 2px
  border-top-right-radius 2px

.dashboard-widget-instance-title
  position relative
  padding 7px 10px 6px
  font-weight bold
  text-shadow #fff 0 1px 1px
  cursor default

.dashboard-widget-instance-body
  border 1px solid #98ABB2
  margin 0 3px 3px
  background #fff

.dashboard-widget-instance-placeholder
  margin 20px 0
  border 1px dashed #98ABB2
  background #E5EAEC

.dashboard-widget-instance-list
  list-style-type none
  margin-left 0
  min-height 300px

.dashboard-left-column
  width 60%
  float left
  min-height 300px

.dashboard-right-column
  width 39%
  float right
  min-height 300px

.dashboard-widget-list
  list-style-type none
  margin-left 0
  width 47%

.dashboard-widget
    position relative
    padding 10px 0
    border-bottom 1px solid #dfdfdf

.dashboard-widget-title
  margin-top 0.5em
  font-size 18px
  font-weight normal

.dashboard-widget-add-link
  position absolute
  right 0
  bottom 10px
  display block
  width 55px
  border 1px solid #e89e00
  -webkit-border-radius 2px
  -moz-border-radius 2px
  border-radius 2px
  background url('../images/button-bg.png') top left repeat-x
  text-shadow #fff 0 1px 1px
  height 19px
  line-height 19px
  padding 0 7px
  text-decoration none
  text-align center

.dashboard-widget-instance-tools
  position relative
  z-index 10
  display block
  list-style-type none
  margin 5px 5px 0 0
  float right
  li
    display block
    float left
    width 15px
    height 15px
    cursor pointer

.dashboard-widget-instance-tools-close
  background url('../images/dashboard-widget-menu.png') 0 -32px no-repeat

.dashboard-text-widget-instance
  padding 10px

.dashboard-admin-log-instance
  table
    width 100%
  td
    padding 5px
    border-bottom 1px solid #ccd5d9
    &.datetime
      font-size 11px
      color #ccd5d9
      text-align right
      white-space nowrap
      .date, .time
        display block
    &.description
      padding-left 26px
      &.addition
        background url('../images/admin_log_addition.png') 5px 4px no-repeat
      &.deletion
        background url('../images/admin_log_deletion.png') 5px 4px no-repeat
      &.change
        background url('../images/admin_log_change.png') 5px 4px no-repeat
      a
        text-decoration none
        &:hover
          text-decoration underline
      .model
        display block
        font-size 11px
        color #ccd5d9
        &:first-letter
          text-transform uppercase
  tr.last td
    border-bottom none
