{% load i18n main_menu %}{% load url from future %}

{% regroup menu_items by section as sections %}
{% for section in sections %}
<li>
    <dl>
        <dt>{{ section.grouper.name }}</dt>
        {% for item in section.list %}
        <dd><a href="{% main_menu_item_url item.content_type %}">{{ item.name }}</a></dd>
        {% endfor %}
    </dl>
</li>
{% empty %}
<li class="empty">
	<a href="{% url 'admin:lemon_menusection_changelist' %}">{% trans "Fill main menu..." %}</a>
</li>
{% endfor %}
{% for title, link in menu_links %}
<li>
  <a href="{% url link %}">{% trans title %}</a>
</li>
{% endfor %}
