{% extends "admin/change_list.html" %}
{% load i18n %}

{% block page_title %}{% if is_popup %}{% trans 'Select user group' %}{% else %}{% trans 'Select user group to change' %}{% endif %}{% endblock %}
{% block content_title %}<h1 class="b-admin-title">{% if is_popup %}{% trans 'Select group' %}{% else %}{% trans 'Select group to change' %}{% endif %}</h1>{% endblock %}
{% block breadcrumbs_title %}{% trans 'User groups' %}{% endblock %}
{% block paginator_description %}{% blocktrans count count=cl.result_count %}one group{% plural %}{{ count }} groups{% endblocktrans %}{% endblock %}

{% block tools %}
  {% if perms.auth.change_permission or has_add_permission %}
    <ul class="b-admin-tools">
      {% if perms.auth.change_permission %}
        <li class="item"><a class="item-link" href="permissions/">{% trans 'Permissions' %}</a></li>
      {% endif %}
      {% if has_add_permission %}
        <li class="item"><a class="item-link" href="add/{% if is_popup %}?_popup=1{% endif %}">{% trans 'Add group' %}</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
