{% extends "admin/change_list.html" %}
{% load i18n %}

{% block tools %}
  {% if perms.auth.change_permission or has_add_permission %}
    <ul class="tools">
      {% if perms.auth.change_permission %}
        <li><a href="permissions/">{% trans 'Permissions' %}</a></li>
      {% endif %}
      {% if has_add_permission %}
        <li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% if string_overrides.changelist_addlink_title %}{{ string_overrides.changelist_addlink_title }}{% else %}{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}{% endif %}</a></li>
      {% endif %}
    </ul>
  {% endif %}
{% endblock %}
