{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
  <script src="{{ STATIC_URL }}extradmin/js/jquery.changeform.js"></script>
  <script src="{% url 'admin:jsi18n' %}"></script>
  {{ media }}
{% endblock %}

{% block breadcrumbs %}
  <li>&rsaquo;<a href="../">{% block breadcrumbs_parent_title %}{{ model_name_plural|capfirst }}{% endblock %}</a></li>
  <li>&rsaquo;<span>{% block breadcrumbs_title %}{{ title }}{% endblock %}</span></li>
{% endblock %}

{% block content %}
  {% if errors %}
    <div class="errornote">
      <p>{% blocktrans count counter=errors|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
      <ul class="errorlist">{% for error in adminform.form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>
    </div>
  {% endif %}
  {% block tools %}
    {% if change %}{% if not is_popup %}{% if has_absolute_url %}
      <ul class="tools">
        <li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>
      </ul>
    {% endif %}{% endif %}{% endif %}
  {% endblock %}
  <form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}
    {% block form_top %}{% endblock %}
    <div>
      {% if is_popup %}<input type="hidden" name="_popup" value="1">{% endif %}
      <div id="tabs" class="tabs">
        {% if tabs %}
          <ul style="display:none;">
            {% for tab in tabs %}<li><a href="#tabs-{{ forloop.counter0 }}">{{ tab.title|title }}</a></li>{% endfor %}
          </ul>
          {% for tab in tabs %}
            <div id="tabs-{{ forloop.counter0 }}">
              {% if forloop.first %}
                <div class="main_group">
                  {% for fieldset in adminform %}{% include "admin/includes/fieldset.html" %}{% endfor %}
                </div>
              {% endif %}
              {% for inline_admin_formset in tab.contents %}
                {% include inline_admin_formset.opts.template %}
              {% endfor %}
            </div>
          {% endfor %}
        {% else %}
          <div class="main_group">
            {% for fieldset in adminform %}{% include "admin/includes/fieldset.html" %}{% endfor %}
          </div>
          {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
          {% endfor %}
        {% endif %}
        {% block after_field_sets %}{% endblock %}
      </div>
      {% block after_related_objects %}{% endblock %}
      {% submit_row %}
      {% prepopulated_fields_js %}
    </div>
  </form>
{% endblock %}
