.changelist {
    background: #E4E9EB url('../images/changelist-left.png') top left repeat-y;
    margin: 10px 20px;
}

.changelist-header {
    background: url('../images/changelist-header-bg.png') top left repeat-x;
    height: 35px;
}

.changelist-actions {
    background: url('../images/changelist-header-left.png') top left no-repeat;
    float: left;
    width: 45%;
    height: 35px;
    line-height: 35px;
}

.changelist-actions .button {
    line-height: normal;
}

.changelist-actions label {
    padding-left: 15px;
}

.changelist-actions select,
.changelist-actions button {
    vertical-align: middle;
}

.changelist-actions select {
	width: 170px;
}

.changelist-search {
    background: url('../images/changelist-header-right.png') top right no-repeat;
    float: right;
    width: 50%;
    height: 35px;
    text-align: right;
}

.changelist-search form {
    line-height: 35px;
    padding-right: 15px;
}

.changelist-search #searchbar {
    width: 200px;
}

.changelist-search input {
    vertical-align: middle;
}

.changelist-dates {
    display: block;
    background: url('../images/changelist-right.png') top right repeat-y;
    border-top: #97A9B1 solid 1px;
    padding: 10px;
}

.changelist-dates li {
    display: block;
    float: left;
    padding: 0 10px;
    font-size: 15px;
}

.changelist-dates a {
    text-decoration: none;
    text-shadow: #FFFFFF 0 1px 1px;
}

.changelist-dates a:hover {
    text-decoration: underline;
}

.changelist-body {
    background: url('../images/changelist-right.png') top right repeat-y;
}

.changelist-main {
    padding-left: 3px;
    padding-right: 3px;
    border: #97A9B1 solid 1px;
    border-bottom: none;
}

.filtered .changelist-main {
    margin-right: 200px;
    padding-right: 0;
}

.changelist-main input {
    vertical-align: middle;
}

.changelist-main table {
    width: 100%;
    border-bottom: #97A9B1 solid 1px;
    line-height: 15px;
}

.changelist-main thead th {
    font-weight: bold;
    text-shadow: #FFFFFF 0 1px 1px;
    padding: 7px 7px 4px;
    border-left: #E4E9EB solid 1px;
    border-bottom: #97A9B1 solid 1px;
}

.changelist-main thead th.sorted {
    padding-right: 23px;
}

.changelist-main thead th.ascending {
    background: url('../images/asc.png') bottom right no-repeat;
}

.changelist-main thead th.descending {
    background: url('../images/desc.png') bottom right no-repeat;
}

.changelist-main thead th.narrow {
    width: 1%;
}

.changelist-main thead th a {
    text-decoration: none;
}

.changelist-main thead th a:hover {
    text-decoration: underline;
}

.changelist-main tbody td,
.changelist-main tbody th {
    padding: 5px 7px 7px;
    background: #FFFFFF;
    border-left: #CCD5D9 solid 1px;
    border-bottom: #CCD5D9 solid 1px; 
}

.changelist-main tbody td.bool,
.changelist-main tbody th.bool {
    text-align: center;
}

.changelist-main tbody td.first,
.changelist-main tbody th.first {
    border-left: #97A9B1 solid 1px;
}

.changelist-main tbody td.last,
.changelist-main tbody th.last {
    border-right: #97A9B1 solid 1px;
}

.filtered .changelist-main tbody td.last,
.filtered .changelist-main tbody th.last {
    border-right: none;
}

.changelist-main tbody tr.row2 td,
.changelist-main tbody tr.row2 th {
    background: #F4F7F7;
}

.changelist-main tbody tr.last td,
.changelist-main tbody tr.last th {
    border-bottom: none;
}

.changelist-main  ul.errorlist {
    display: block;
    font-weight: bold;
    font-size: 10px;
    color: #A00;
}

.changelist-filters {
    float: right;
    width: 200px;
}

.changelist-filters h2 {
    margin: 5px 30px 2px;
    font-size: 16px;
    text-shadow: #FFFFFF 0 1px 1px;
}

.changelist-filters dl {
    margin: 0 5px 0 30px;
    text-shadow: #FFFFFF 0 1px 1px;
}

.changelist-filters dt {
    font-weight: bold;
    margin: 15px 0 5px;
}

.changelist-filters dd {
    padding-left: 15px;
    margin-bottom: 2px;
}

.changelist-filters dd.active {
    background: url('../images/filter-selected-item.png') 6px 50% no-repeat;
}

.changelist-filters dd.active a {
    color: #D88900;
}

.changelist-filters dd a {
    text-decoration: none;
}

.changelist-filters dd a:hover {
    text-decoration: underline;
}

.changelist-footer {
    background: url('../images/changelist-footer-bg.png') bottom left repeat-x;
    height: 28px;
}

.changelist-pager {
    background: url('../images/changelist-footer-left.png') top left no-repeat;
    float: left;
    width: 40%;
    height: 28px;
}

.changelist-pager div {
    padding-left: 4px;
    padding-top: 3px;
}

.changelist-pager a,
.changelist-pager span {
    display: block;
    float: left;
    border: #8A9EA7 solid 1px;
    background: url('../images/pager-bg.png') bottom left repeat-x;
    line-height: 18px;
    padding: 1px 5px 0;
    margin-right: -1px;
    text-decoration: none;
}

.changelist-pager a.active,
.changelist-pager span {
    margin-left: 1px;
    border: #E4E9EB solid 1px;
    border-left: none;
    background: #E4E9EB;
}

.changelist-pager span.showall {
	border: none;
	padding-top: 0;
}

.changelist-links {
    background: url('../images/changelist-footer-right.png') top right no-repeat;
    float: right;
    width: 40%;
    height: 28px;
    line-height: 27px;
    text-align: right;
}

.changelist-links a {
    margin-right: 10px;
    font-weight: bold;
}
