<style type="text/css">
	#{{ id }} .content { padding: 15px; }
	#{{ id }} h2 { font-size: 16px; }
	#{{ id }} p { margin-top: 1em; line-height: 1.4em; }
</style>
<div class="content">
	<h2>Добро пожаловать в панель управления сайтом!</h2>
	<p>Поздравляем! Ваш сайт отныне работает под управлением Lemon CMF, самой правильной системой управления сайтом. Теперь все задачи будут решаться просто, быстро и эффективно.</p>
	<p>Мы прекрасно понимаем ваше желание поскорей бы начать уже работу с системой, но просим вас потерпеть еще немножко и уделить нам чуточку внимания. Эта небольшая инструкция поможет вам лучше понять основные принципы работы в панели управления.</p>
</div>
