<h1 class="dashboard-title">{{title}}</h1>
<ul class="tools">
  <li><a href="#add">{{button}}</a></li>
</ul>
<ul class="dashboard-column-list clearfix">
  <li class="dashboard-column dashboard-left-column"></li>
  <li class="dashboard-column dashboard-right-column"></li>
</ul>
