<ul class="dashboard-widget-instance-tools">
  <li class="dashboard-widget-instance-tools-close"></li>
</ul>
<h2 class="dashboard-widget-instance-title">{{widget/title}}</h2>
<div class="dashboard-widget-instance-body"></div>
