.auth_permissions {
  background: #e4e9eb;
  -webkit-box-shadow: 0 1px 2px #e5e5e5, #fff 0 0px 3px inset;
  border: 1px solid #97a9b1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 10px 30px 20px;
}
.auth_permissions table {
  width: 100%;
}
.auth_permissions table thead th {
  line-height: 35px;
  font-size: 14px;
  font-weight: normal;
  text-shadow: #fff 0 1px 1px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #e4e9eb), color-stop(100%, #fff));
  background: -moz-linear-gradient(center bottom, #e4e9eb 0%, #fff 100%);
  background: -o-linear-gradient(center bottom, #e4e9eb 0%, #fff 100%);
  background: linear-gradient(center bottom, #e4e9eb 0%, #fff 100%);
  border-bottom: 1px solid #97a9b1;
}
.auth_permissions table thead th.first {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
}
.auth_permissions table thead th.last {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
}
.auth_permissions table tbody td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ccd5d9;
  background: #fff;
}
.auth_permissions table tbody td.first {
  text-align: left;
  text-shadow: #fff 0 1px 1px;
  border-left: none;
  padding-left: 15px;
}
.auth_permissions table tbody td.last {
  border-right: none;
}
.auth_permissions table tbody td input {
  vertical-align: baseline;
}
.auth_permissions table tbody tr.first td {
  border-top: none;
}
.auth_permissions table tbody tr.last td {
  border-bottom: none;
}
.auth_permissions table tbody tr.last td.first {
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.auth_permissions table tbody tr.last td.last {
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.auth_permissions table tbody tr.even td {
  background: #f4f7f7;
}
.auth_permissions table tbody tr.model td {
  font-size: 14px;
  border-left: none;
  border-right: none;
}
.auth_permissions table tbody tr.permission td.first {
  padding-left: 30px;
  font-weight: normal;
}
.floatHeader table {
  -webkit-box-shadow: 0 1px 2px #e5e5e5;
}
