fieldset {
  border: none;
  padding: 30px 0 0;
}
fieldset h2 {
  font-size: 16px;
  line-height: 1.4em;
  margin: 0 0 0 15px;
  border-bottom: 2px solid #97a9b1;
  text-shadow: #fff 0 1px 1px;
  margin-bottom: 10px;
}
fieldset h3 {
  font-size: 14px;
  line-height: 1.4em;
  margin-left: 30px;
  padding-top: 10px;
  border-bottom: 1px solid #97a9b1;
  text-shadow: #fff 0 1px 1px;
}
fieldset label {
  font-weight: normal;
  color: #000;
  display: block;
  float: left;
  padding-top: 3px;
  width: 160px;
}
fieldset label.required {
  font-weight: bold;
}
fieldset .clearable-file-input label {
  display: inline;
  float: none;
  padding: none;
}
fieldset .clearable-file-input input {
  vertical-align: baseline;
}
fieldset .description {
  margin: 0 60px;
  padding: 10px 0;
  border-bottom: 1px solid #becacf;
  font-style: italic;
  text-shadow: #fff 0 1px 1px;
}
fieldset .content {
  margin: 0 60px;
}
fieldset .content p,
fieldset .content ul {
  margin-left: 165px;
}
fieldset .content input,
fieldset .content select,
fieldset .content textarea {
  margin-left: 5px;
}
fieldset .content ul.errorlist,
fieldset .content p.help {
  display: block;
  font-weight: bold;
  font-size: 10px;
  padding-top: 5px;
  color: #a00;
}
fieldset .content p.help {
  color: #007042;
}
fieldset .content p.help a {
  color: #007042;
}
fieldset td ul.errorlist,
fieldset td p.help {
  display: block;
  font-weight: bold;
  font-size: 10px;
  padding-top: 2px;
  padding-left: 0;
  color: #a00;
}
fieldset td p.help {
  color: #007042;
}
fieldset td p.help a {
  color: #007042;
}
fieldset .field {
  padding: 10px 0;
  border-bottom: 1px solid #becacf;
}
fieldset .field img {
  vertical-align: middle;
}
fieldset .last {
  border-bottom: none;
}
fieldset input[type=text],
fieldset input[type=password] {
  width: 400px;
}
fieldset input.vDateField,
fieldset input.vTimeField {
  width: auto;
}
fieldset textarea .vLargeTextField {
  width: 400px;
  height: 200px;
}
fieldset textarea .vSmallTextField {
  width: 400px;
  height: 40px;
}
fieldset table input[type=text],
fieldset table input[type=password] {
  width: auto;
}
fieldset.inline table {
  width: 100%;
}
fieldset.inline th {
  border-bottom: 2px solid #97a9b1;
  font-weight: bold;
  text-shadow: #fff 0 1px 1px;
  padding: 10px 0;
}
fieldset.inline td {
  border-bottom: 1px solid #becacf;
  vertical-align: top;
  padding: 10px 0;
}
fieldset.inline td ul.errorlist {
  margin-left: 0;
  padding-left: 10px;
}
fieldset.inline tr.last-related td,
fieldset.inline tr.add-row td {
  border-bottom: none;
}
.inline-group {
  padding: 30px 0 0;
}
.inline-group fieldset {
  padding: 0;
}
.inline-group fieldset .content,
.inline-group fieldset .description {
  margin: 0 60px 0 30px;
}
.inline-group h2 {
  font-size: 16px;
  line-height: 1.4em;
  margin: 0 0 0 15px;
  border-bottom: 2px solid #97a9b1;
  text-shadow: #fff 0 1px 1px;
  margin-bottom: 10px;
}
.inline-content {
  margin-left: 30px;
}
.inline-related {
  border-bottom: 1px solid #97a9b1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
.empty-form {
  display: none;
}
.last-related {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.add-another {
  text-decoration: none;
}
#tabs {
  margin: 10px 20px 8px;
  padding: 0 0 30px;
  background: #e4e9eb;
  border: 1px solid #97a9b1;
  -moz-border-radius-bottomleft: 2px;
  -webkit-border-bottom-left-radius: 2px;
  border-bottom-left-radius: 2px;
  -moz-border-radius-bottomright: 2px;
  -webkit-border-bottom-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
#tabs ul.ui-tabs-nav {
  padding: 3px 4px 0;
  background: url("../images/changelist-header-bg.png") 0 -1px repeat-x;
  border: none;
  border-bottom: 1px solid #97a9b1;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
}
#tabs ul.ui-tabs-nav li {
  margin: 0 2px 0 0;
  color: #486a77;
  border: 1px solid #97a9b1;
}
#tabs ul.ui-tabs-nav li a {
  color: #486a77;
  padding: 0 10px;
  line-height: 29px;
}
#tabs ul.ui-tabs-nav li.ui-state-hover {
  border: 1px solid #f5b236;
  color: #bf7900;
  text-shadow: #fff 0 1px 1px;
}
#tabs ul.ui-tabs-nav li.ui-state-hover a {
  color: #bf7900;
  text-shadow: #fff 0 1px 1px;
}
#tabs ul.ui-tabs-nav li.ui-state-active {
  background: #e4e9eb;
  border: 1px solid #97a9b1;
  color: #486a77;
  text-shadow: #fff 0 1px 1px;
}
#tabs ul.ui-tabs-nav li.ui-state-active a {
  color: #486a77;
  text-shadow: #fff 0 1px 1px;
}
#tabs div.ui-tabs-panel {
  padding: 0;
}
a.related-lookup {
  text-decoration: none;
}
p.datetime {
  position: relative;
}
.add-row a {
  color: #486a77;
  text-shadow: #fff 0 1px 1px;
  text-decoration: underline;
}
.add-row a:hover {
  text-decoration: none;
}
a.inline-deletelink {
  display: none;
}
