.clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow:hidden;
}
.clearfix {display: block;}
.clear { clear:both; }

label       { font-weight: bold; }
fieldset    { border: 1px solid #ccc; }
legend      { font-weight: bold; }

input[type=text], input[type=password], textarea {
    margin: 0;
    padding: 2px 3px;
}

select {
    margin: 0;
}

input[type=submit], input[type=button], button {
    margin: 0;
}

input.default[type=submit], input.default[type=button]{
    float: right;
    margin-left: 5px;
}

input[type=text], input[type=password],
input.text, input.title,
textarea {
    background-color: #fff;
    border: #96aab1 solid 1px;
    border-top: #6a787d solid 1px;
}

input[type=text]:focus, input[type=password]:focus,
input.text:focus, input.title:focus,
textarea:focus {
    background-color: #faf8ec;
}
