.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  zoom: 1;
}
label {
  font-weight: bold;
}
fieldset {
  border: 1px solid #ccc;
}
legend {
  font-weight: bold;
}
input[type=text],
input[type=password],
textarea {
  margin: 0;
  padding: 4px 8px;
}
input[type=submit],
input[type=button],
button,
select {
  margin: 0;
}
input.default[type=submit],
input.default[type=button] {
  float: right;
  margin-left: 5px;
}
input[type=text],
input[type=password],
input.text,
input.title,
textarea {
  background: #fff;
  border: 1px solid #96aab1;
  border-top: 1px solid #6a787d;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: #e0e0e0 0 1px 2px inset;
}
.button {
  padding: 6px 12px;
  color: #486a77;
  font-weight: bold;
  background: #d8d8d8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #c9d3d7), color-stop(100%, #e4e9eb));
  background: -moz-linear-gradient(center bottom, #c9d3d7 0%, #e4e9eb 100%);
  background: -o-linear-gradient(center bottom, #c9d3d7 0%, #e4e9eb 100%);
  background: linear-gradient(center bottom, #c9d3d7 0%, #e4e9eb 100%);
  border: 1px solid #849aa3;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px #e5e5e5, #fff 0 1px 1px inset;
  text-shadow: #fff 0 1px 1px;
}
.button:hover {
  background: #eee;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #d7dee1), color-stop(100%, #f1f4f5));
  background: -moz-linear-gradient(center bottom, #d7dee1 0%, #f1f4f5 100%);
  background: -o-linear-gradient(center bottom, #d7dee1 0%, #f1f4f5 100%);
  background: linear-gradient(center bottom, #d7dee1 0%, #f1f4f5 100%);
}
.delete_button {
  color: #a01;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0%, #e67773), color-stop(100%, #f3bcbe));
  background: -moz-linear-gradient(center bottom, #e67773 0%, #f3bcbe 100%);
  background: -o-linear-gradient(center bottom, #e67773 0%, #f3bcbe 100%);
  background: linear-gradient(center bottom, #e67773 0%, #f3bcbe 100%);
  text-shadow: #fae1e1 0 1px 1px;
  border: 1px solid #e4595d;
}
