{% extends "admin/base_site.html" %}
{% load i18n filebrowser_extras %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}filebrowser/css/style.css">
{% endblock %}

{% block navigation %}
  <li class="second"><a href="{% url 'admin:index' %}">{% trans "Main Page" %}</a></li>
  <li class="last"><a href="{% url 'admin:filebrowser:browse' %}{% query_string 'p' %}">{% trans "Return To Folder" %}</a></li>
{% endblock %}

{% block content %}
  {% if form.errors %}
    <div class="b-admin-messages b-admin-errors">
      <h2 class="description">{% trans 'Please correct the following errors.' %}</h2>
      <ul class="list">
        {% for error in form.non_field_errors %}<li class="item">{{ error }}</li>{% endfor %}
      </ul>
    </div>
  {% endif %}
  <form action="{% query_string 'p' %}" method="post">
    <div class="b-admin-form">
      {% csrf_token %}
      <div class="main_group">
        <fieldset class="main">
          <div class="b-admin-form-field b-admin-form-last-field clearfix">
            <label class="required" for="id_dir_name">{{ form.dir_name.label }}</label>
            {{ form.dir_name }}
            {{ form.dir_name.errors }}
            <p class="help">
              {{ form.dir_name.help_text|safe }}<br>
              {% trans "The Name will be converted to lowercase. Spaces will be replaced with underscores." %}
            </p>
          </div>
        </fieldset>
      </div>
    </div>
    <div id="main-buttons" class="main-buttons">
      <input type="submit" value="{% trans 'Create' %}" class="button default">
    </div>
  </form>
{% endblock %}
