{% extends "admin/base_site.html" %}
{% load i18n admin_modify %}
{% load url from future %}

{% block extrahead %}{{ block.super }}
  <script src="{% url 'admin:jsi18n' %}"></script>
{% endblock %}

{% block content %}
  {% if form.errors %}
    <div class="b-admin-messages b-admin-errors">
      <h2 class="description">{% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</h2>
    </div>
  {% endif %}
  <form action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">
    <div class="b-admin-form">
      {% csrf_token %}
      {% block form_top %}{% endblock %}
      <fieldset class="main">
        <div class="description">{% blocktrans with username=original.username %}Enter a new password for the user <strong>{{ username }}</strong>.{% endblocktrans %}</div>
        <div class="content">
          <div class="field clearfix">
            <label for="id_password1" class="required">{% trans 'Password' %}:</label>
            {{ form.password1 }}
            {{ form.password1.errors }}
          </div>
          <div class="field clearfix last">
            <label for="id_password2" class="required">{% trans 'Password (again)' %}:</label>
            {{ form.password2 }}
            {{ form.password2.errors }}
            <p class="help">{% trans 'Enter the same password as above, for verification.' %}</p>
          </div>
        </div>
      </fieldset>
    </div>
    <div id="main-buttons" class="main-buttons">
      <input type="submit" value="{% trans 'Change password' %}" class="default">
    </div>
  </form>
{% endblock %}
