<h1 class="b-admin-title b-dashboard-title">{{title}}</h1>
<ul class="b-admin-tools">
  <li class="item"><a class="item-link" href="#">{{button}}</a></li>
</ul>
<ul id="dashboard-widget-list" class="dashboard-widget-list"></ul>
