<h1 class="b-admin-title b-dashboard-title">{{title}}</h1>
<ul class="b-admin-tools">
  <li class="item"><a class="item-link" href="#add">{{button}}</a></li>
</ul>
<ul class="dashboard-column-list clearfix">
  <li class="dashboard-column dashboard-left-column"></li>
  <li class="dashboard-column dashboard-right-column"></li>
</ul>
