@import "mixins/helpers"
@import "mixins/variables"

html, body
  height 100%

body
  font-family "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif
  font-size 12px
  color $text-color

input, textarea, button, select
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif
  font-size 12px
  vertical-align middle

a
  color $text-color
  text-decoration underline
  &:hover, &:focus
    text-decoration none

p, h1, h2, h3, h4, td
  img
    vertical-align middle

#container
  min-height 100%
  position relative

#container.login, #container.logout
  background #eee

#header
  position relative
  height 42px
  background url('../images/header-bg.png') bottom left repeat-x
  border-bottom 1px solid #e89e00
  box-shadow 0 1px 8px

.logo
  display block
  float left
  width 150px
  height 42px
  background url('../images/logo.png') center center no-repeat

#user-menu
  float right
  text-align right
  padding 2px 0 0
  color #bf7900
  font-weight bold
  text-shadow #fff 0 1px 1px
  ul
    margin-top 0.5em
    overflow hidden
    float right
  li
    display block
    float left
    padding 0 15px
    height 34px
    line-height 34px
    background url('../images/menu-sep.png') bottom right no-repeat
    margin-right -1px
  a
    color #587373
    text-decoration none
    &:hover, &:focus
      color #587373
      text-decoration underline

.main-menu
  display block
  float left
  margin-top 8px
  margin-left 0
  padding-right 1px
  color #587373
  font-weight bold
  text-shadow #fff 0 1px 1px
  list-style-type none
  background url('../images/menu-sep.png') bottom right no-repeat
  li
    display block
    float left
    span
      display block
      padding 0 15px
      line-height 34px
      height 34px
      background url('../images/menu-sep.png') bottom left no-repeat
      cursor pointer
    &:hover
      span
        color #bf7900
      ul
        display block
  ul
    display none
    position absolute
    margin-left 0
    padding 8px 0
    list-style-type none
    background url('../images/menu-bg.png')
    border 1px solid #e89e00
    border-top none
    border-bottom-radius 3px
    li
      float none
    a
      display block
      text-decoration none
      color #587373
      line-height 32px
      padding 0 15px
      &:hover
        color #bf7900

.main-menu-helper
  display none
  position absolute
  top 42px
  height 1px
  background #e89e00

#main
  padding-bottom 74px
  h1
    font-size 20px
    font-weight normal
    margin 20px 30px 0
  ul.tools
    position absolute
    display block
    right 30px
    margin-top -26px
    margin-left 0
    list-style-type none
    li
      display block
      float left
      margin-left 10px
    a
      color #587373
      padding 0 12px
      display block
      border 1px solid #e89e00
      border-radius 3px
      gradient #ffd152 #ffedbd
      -webkit-box-shadow 0 1px 2px #e5e5e5, #fff 0 1px 1px inset
      text-shadow #fff 0 1px 1px
      text-decoration none
      font-weight bold
      height 24px
      line-height 24px
      &:hover
        color #587373
        gradient lighten(#ffd152, 10%) lighten(#ffedbd, 10%)
  p.success
    border 1px solid $border-color
    background $background-color
    font-weight bold
    color #007042
  ul.messagelist
    display block
    margin 20px 30px 0
    padding 10px 15px
    color $text-color
    background $background-lighter-color
    border 1px solid darken($background-lighter-color, 20%)
    border-radius 3px
    li
      margin-left 15px
  div.errornote
    margin 20px 30px 0
    padding 10px 15px
    color: #a00
    border 1px solid darken(#f3bcbe, 20%)
    background #f3bcbe
    border-radius 3px

#login, #logout
  position absolute
  top 50%
  left 50%
  background #ffd56d url('../images/login-bg.png') top left repeat-y
  width 336px
  height 250px
  margin-left -168px
  margin-top -144px

#login-logo, #logout-logo
  float left
  width 170px
  height 55px
  background url('../images/login-logo.png') top left no-repeat

#login-header, #logout-header
  float left
  width 166px
  height 55px
  background url('../images/login-header.png') top left no-repeat
  text-align center
  div
    padding-top 11px
    text-shadow #fff 0 1px 1px
  p
    line-height 14px
  a
    font-weight bold

#login form, #logout-message
  clear both
  height 195px
  background url('../images/login-footer.png') bottom left no-repeat

#login form .fields
  clear both
  padding-top 25px
  position relative

#login form
  &.field, &.submit
    clear both
    margin-top 10px
    margin-left 30px

#login form
  &.field, &.submit
    label
      display block
      margin-bottom 5px

#login form .field input
  width 170px
  vertical-align middle

#login form .submit input
  vertical-align middle

#login .errornote
  margin -20px 20px 5px
  text-align center
  color #a00

#company-logo
  display block
  position absolute
  bottom 32px
  right 28px

#logout-message p
  padding 50px 30px 0
  text-align center

.delete-confirmation
  margin 10px 20px 20px
  padding 15px
  border 1px solid $border-color
  background $background-color
  ul
    margin 5px 20px

.main-buttons
  margin 0 30px
  input
    margin-left 5px
    float right

.second-buttons button
  float left
  margin-right 5px

#footer
  position absolute
  bottom 0
  width 100%
  height 44px

#copyright
  margin 0 100px
  border-top 1px solid #f0f0f0
  font-style italic
  text-align center
  color #ccc
  line-height 43px
  a
    color #ccc

#content-main
  margin 1px 20px

#content-main div.module
  margin 5px 0 0
  width 50%
  table
    width 100%
    border 1px solid $border-color
    caption
      display none
    td, th
      padding 10px
      border-bottom 1px solid $changelist-border-color
      background $changelist-background-color
    td
      width 1%
    th a
      font-weight bold
      text-decoration none
    tr.last
      td, th
        border-bottom none
