@import "mixins/helpers"
@import "mixins/variables"

fieldset
  border none
  label
    font-weight normal
    color #486A77
    text-shadow #fff 0 1px 1px
    display block
    float left
    padding-top 5px
    width 160px
    &.required
      font-weight bold
  .clearable-file-input
    label
      display inline
      float none
      padding none
    input
      vertical-align: baseline
  .description
    margin 0 60px
    padding 10px 0
    border-bottom 1px solid #becacf
    font-style italic
    text-shadow #fff 0 1px 1px
  .content
    p, ul
      margin-left 165px
    input, select, textarea
      margin-left 5px
    ul.errorlist, p.help
      display block
      font-weight bold
      font-size 10px
      padding-top 5px
      color #a00
    p.help
      color #007042
      a
        color #007042
  td
    ul.errorlist, p.help
      display block
      font-weight bold
      font-size 10px
      padding-top 2px
      padding-left 0
      color #a00
    p.help
      color #007042
      a
        color #007042
  .field
    padding 20px 30px
    border-bottom 1px solid #becacf
    img
      vertical-align middle
  .last
    border-bottom none
  input[type=text], input[type=password]
    width 400px
  input.vDateField, input.vTimeField
    width auto
  textarea
    .vLargeTextField
      width 400px
      height 200px
    .vSmallTextField
      width 400px
      height 40px
  table
    input[type=text], input[type=password]
      width auto
  &.inline
    table
      width 100%
    th
      gradient $background-color #fff
      border-bottom 1px solid $border-color
      font-weight bold
      text-shadow #fff 0 1px 1px
      text-align left
      padding 10px 15px
      &.first
        border-top-left-radius 3px
      &.last
        border-top-right-radius 3px
    td
      border-bottom 1px solid #becacf
      vertical-align top
      padding 10px 15px
      ul.errorlist
        margin-left 0
        padding-left 10px
    tr.add-row td
      padding 0 15px
    tr.last-related, tr.add-row
      td
        border-bottom none

.main_group, .tabular_group
  fieldset
    background $background-color
    -webkit-box-shadow 0 1px 2px #e5e5e5, #fff 0 0px 3px inset
    border 1px solid $border-color
    border-radius 3px
    margin-bottom 20px
    h2
      font-size 16px
      line-height 35px
      font-weight normal
      padding 0 15px
      gradient $background-color #fff
      border-top-radius 3px
      border-bottom 1px solid $border-color
      text-shadow #fff 0 1px 1px

#main .tabular_group h1
  margin 0 0 20px
  padding 0

#main .inline-group
  h1
    margin 0 0 20px
    padding 0
  .add-row
    background $background-color
    -webkit-box-shadow 0 1px 2px #e5e5e5, #fff 0 0px 3px inset
    border 1px solid $border-color
    border-radius 3px
    margin-bottom 20px

.inline-related
  background $background-color
  -webkit-box-shadow 0 1px 2px #e5e5e5, #fff 0 0px 3px inset
  border 1px solid $border-color
  border-radius 3px
  margin-bottom 20px
  fieldset
    .description
      margin 0 60px 0 30px
    h2
      font-size 14px
      font-weight normal
      line-height 35px
      text-shadow #fff 0 1px 1px
      padding 0 15px
      border-top 1px solid #becacf
      border-bottom 1px solid #becacf
      background $background-lighter-color
  h3
    font-size 16px
    line-height 35px
    font-weight normal
    padding 0 15px
    gradient $background-color #fff
    border-top-radius 3px
    border-bottom 1px solid $border-color
    text-shadow #fff 0 1px 1px

.inline-related
  border-bottom 1px solid $border-color

.empty-form
  display none

.last-related
  border-bottom none

.add-another
  text-decoration none

#tabs
  margin 10px 30px
  ul.ui-tabs-nav
    padding 3px 4px 0
    background url('../images/changelist-header-bg.png') 0 -1px repeat-x
    border none
    border-bottom 1px solid $border-color
    border-bottom-radius 0
    li
      margin 0 2px 0 0
      color $text-color
      border 1px solid $border-color
      a
        color $text-color
        padding 0 10px
        line-height 29px
      &.ui-state-hover
        border 1px solid #f5b236
        color #bf7900
        text-shadow #fff 0 1px 1px
        a
          color #bf7900
          text-shadow #fff 0 1px 1px
      &.ui-state-active
        background $background-color
        border 1px solid $border-color
        color $text-color
        text-shadow #fff 0 1px 1px
        a
          color $text-color
          text-shadow #fff 0 1px 1px
  div.ui-tabs-panel
    padding 0

a.related-lookup
  text-decoration none

p.datetime
  position relative

.add-row
  font-size 14px
  line-height 35px
  padding 0 15px
  a
    color $text-color
    text-shadow #fff 0 1px 1px
    text-decoration underline
    &:hover
      text-decoration none

a.inline-deletelink
  display none
