.clearfix:before, .clearfix:after
  content ""
  display table

.clearfix:after
  clear both

.clearfix
  zoom 1

label
  font-weight bold

fieldset
  border 1px solid #ccc

legend
  font-weight bold

input[type=text], input[type=password], textarea
  margin 0
  padding 2px 3px

input[type=submit], input[type=button], button, select
  margin 0

input.default[type=submit], input.default[type=button]
  float right
  margin-left 5px

input[type=text], input[type=password], input.text, input.title, textarea
  background #fff
  border 1px solid #96aab1
  border-top 1px solid #6a787d
  &:focus
    background #faf8ec
