{% extends "admin/change_list.html" %}
{% load i18n %}

{% block page_title %}{% if is_popup %}{% trans 'Select sitemap.xml item' %}{% else %}{% trans 'Select sitemap.xml item to change' %}{% endif %}{% endblock %}
{% block content_title %}<h1>{% if is_popup %}{% trans 'Select item' %}{% else %}{% trans 'Select item to change' %}{% endif %}</h1>{% endblock %}
{% block addlink_title %}{% trans 'Add item' %}{% endblock %}
{% block paginator_description %}{% blocktrans count count=cl.result_count %}one item{% plural %}{{ count }} items{% endblocktrans %}{% endblock %}
