{% extends "admin/base_site.html" %}
{% load i18n dashboard %}
{% load url from future %}

{% block extrastyle %}{{ block.super }}
  <link rel="stylesheet" href="{{ STATIC_URL }}dashboard/css/style.css">
  {% dashboard_css %}
{% endblock %}

{% block extrahead %}{{ block.super }}
  <script src="{{ STATIC_URL }}dashboard/js/script.js"></script>
  {% dashboard_js %}
{% endblock %}

{% block breadcrumbs_block %}{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}
  <div id="dashboard" class="dashboard"></div>
  {% dashboard %}
  {% admin_app_list app_list %}
{% endblock %}
