<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">{% load admin_static %}
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}">
<head>
	<title>{% block title %}{% endblock %}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{% static 'extradmin/css/reset.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'extradmin/css/default.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'extradmin/css/base.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'extradmin/css/jquery.ui.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'extradmin/css/changeform.css' %}" />
	<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% static 'extradmin/css/ie.css' %}" /><![endif]-->
	<script src="{% static 'extradmin/js/jquery.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'extradmin/js/jquery.ui.js' %}" type="text/javascript" charset="utf-8"></script>
	{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
<body>
	<div id="container" class="{% block containerclass %}{% endblock %}">
	{% block container %}
		<div id="header"><a href="/" id="logo"></a></div>
		<div id="main">{% block content %}{% endblock %}</div>
		<div id="footer">
			{% block footer %}
				<a id="footer-logo" href="http://www.trilan.ru/" class="external"></a>
				<div id="copyright">CMF <strong>Lemon</strong> разработана в компании <a href="http://www.trilan.ru/" class="external">«ТриЛан»</a> с использованием <a href="http://djangoproject.com/" class="external">Django</a>.</div>
			{% endblock %}
		</div>
	{% endblock %}
	</div>
</body>
</html>
