<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block page_title %}{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ STATIC_URL }}extradmin/css/compressed.css">
  <!--[if lte IE 7]><link rel="stylesheet" href="{{ STATIC_URL }}extradmin/css/ie.css"><![endif]-->
  <script src="{{ STATIC_URL }}extradmin/js/jquery.js"></script>
  <script src="{{ STATIC_URL }}extradmin/js/jquery.ui.js"></script>
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<body>
  <div id="container" class="{% block containerclass %}{% endblock %}">
  {% block container %}
    <div id="header"><a href="/" id="logo"></a></div>
    <div id="main">{% block content %}{% endblock %}</div>
    <div id="footer">
      {% block footer %}
        <a id="footer-logo" href="http://www.trilan.ru/" class="external"></a>
        <div id="copyright">CMF <strong>Lemon</strong> разработана в компании <a href="http://www.trilan.ru/" class="external">«ТриЛан»</a> с использованием <a href="http://djangoproject.com/" class="external">Django</a>.</div>
      {% endblock %}
    </div>
  {% endblock %}
  </div>
</body>
</html>
