<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <title>{% block page_title %}{% endblock %}</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ STATIC_URL }}extradmin/css/style.css">
  <!--[if lte IE 7]><link rel="stylesheet" href="{{ STATIC_URL }}extradmin/css/ie.css"><![endif]-->
  <script src="{{ STATIC_URL }}extradmin/js/jquery.js"></script>
  <script src="{{ STATIC_URL }}extradmin/js/jquery.ui.js"></script>
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>
<body>
  <div id="b-admin-container" class="b-admin-container {% block containerclass %}{% endblock %}">
  {% block container %}
    <div class="b-admin-header">
      <a class="b-admin-header-logo" href="/"></a>
    </div>
    <div class="b-admin-body">{% block content %}{% endblock %}</div>
    <div class="b-admin-footer">
      {% block footer %}
        <div class="copyright">CMF <strong>Lemon</strong> разработана в компании <a class="copyright-link external" href="http://www.trilan.ru/">«ТриЛан»</a> с использованием <a class="copyright-link external" href="http://djangoproject.com/">Django</a>.</div>
      {% endblock %}
    </div>
  {% endblock %}
  </div>
</body>
</html>
