{% extends "admin/base.html" %}

{% block containerclass %}logout{% endblock %}

{% block content %}
  <div id="logout">
    <div id="logout-logo"></div>
    <div id="logout-header"><div>
      <p>Хотите такую же систему?</p>
      <p><a href="http://www.trilan.ru/order/" class="external">Закажите прямо сейчас!</a></p>
    </div></div>
    <div id="logout-message">
      <p>Вы вышли. Благодарим Вас за время, проведенное на сайте.<br><a href="../">Войти снова</a></p>
    </div>
  </div>
{% endblock %}
