{% extends "registration/base.html" %}
{% load i18n %}

{% block title %}{% trans 'Password reset' %}{% endblock %}

{% block content %}
	{% if validlink %}
		<h1>{% trans 'Enter new password' %}</h1>
		<form action="" method="post">{% csrf_token %}
			<div id="tabs" class="tabs">
				<fieldset class="main">
					<div class="description">
						{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
					</div>
					<div class="content">
						<div class="field clearfix">
							<label for="{{ form.new_password1.auto_id }}" class="required">{% trans 'New password:' %}</label>
							{{ form.new_password1 }}{{ form.new_password1.errors }}
						</div>
						<div class="field clearfix last">
							<label for="{{ form.new_password2.auto_id }}" class="required">{% trans 'Confirm password:' %}</label>
							{{ form.new_password2 }}{{ form.new_password2.errors }}
						</div>
					</div>
				</fieldset>
			</div>
			<div class="main-buttons">
				<input type="submit" value="{% trans 'Change my password' %}" />
			</div>
		</form>
	{% else %}
		<h1>{% trans 'Password reset unsuccessful' %}</h1>
		<div id="tabs" class="tabs">
			<fieldset class="main">
				<div class="description">
					{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}
				</div>
			</fieldset>
		</div>
	{% endif %}
{% endblock %}
