{% extends "registration/base.html" %}
{% load i18n %}

{% block page_title %}{% trans 'Password reset complete' %}{% endblock %}

{% block content %}
  <h1 class="b-admin-title">{% trans 'Password reset complete' %}</h1>
  <div class="b-admin-form">
    <div class="b-admin-form-fieldset-group">
      <fieldset class="b-admin-form-fieldset">
        <div class="b-admin-form-fieldset-description">{% trans "Your password has been set.  You may go ahead and log in now." %}</div>
      </fieldset>
    </div>
  </div>
{% endblock %}
