{% extends "admin/base_site.html" %}
{% load i18n %}

{% block page_title %}Изменение пароля{% endblock %}

{% block content %}
  <h1 class="b-admin-title">Изменение пароля</h1>
  <form action="" method="post">
    <div class="b-admin-form">
      {% csrf_token %}
      <div class="b-admin-form-fieldset-group">
        <fieldset class="b-admin-form-fieldset">
          <div class="b-admin-form-fieldset-description">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</div>
          <div class="b-admin-form-field clearfix">
            <label for="id_old_password">{% trans 'Old password:' %}</label>
            {{ form.old_password }}
            {{ form.old_password.errors }}
          </div>
          <div class="b-admin-form-field clearfix">
            <label for="id_new_password1">{% trans 'New password:' %}</label>
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
          </div>
          <div class="b-admin-form-field b-admin-form-last-field clearfix">
            <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
          </div>
        </fieldset>
      </div>
    </div>
    <div class="main-buttons"><input type="submit" value="{% trans 'Change my password' %}"></div>
  </form>
{% endblock %}
