{% extends "registration/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
	<h1>{% trans "Password reset" %}</h1>
	<form action="" method="post">{% csrf_token %}
		<div id="tabs" class="tabs">
			<fieldset class="main">
				<div class="description">
					{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}
				</div>
				<div class="content">
					<div class="field clearfix last">
						<label for="{{ form.email.auto_id }}" class="required">{% trans 'E-mail address:' %}</label>
						{{ form.email }}{{ form.email.errors }}
					</div>
				</div>
			</fieldset>
		</div>
		<div class="main-buttons">
			<input type="submit" value="{% trans 'Reset my password' %}" />
		</div>
	</form>
{% endblock %}
