{% extends "admin/base.html" %}
{% load main_menu admin_static %}

{% block title %}{{ title }} | Lemon CMF{% endblock %}

{% block extrahead %}
<script src="{% static 'lemon/js/jquery.mainmenu.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block header %}
    <div id="header">
        <a href="{% url admin:index %}" id="logo"></a>
        <div id="user-menu">
            Добро пожаловать, <strong>{% firstof user.first_name user.username %}</strong>.
            <ul>
                <li><a href="{% url admin:password_change %}">Изменить пароль</a></li>
                <li><a href="{% url admin:logout %}">Выйти</a></li>
            </ul>
        </div>
        <ul id="main-menu">
            {% main_menu %}
        </ul>
    </div>
{% endblock %}
